$color-1:#E2E6E7;
$color-2:#FFC12D;
$color-3:#F9B718;
$color-4:#2C3E50;
$color-6:#CFD2D3;
$color-7:#A47503;
$color-8-yellow-close:#B18009;
$color-9-green-border:#7BC200;
$color-10-green-icon:#558502;
$color-12-red-border:#F55C43;
$color-13-red-icon:#D52E13;
$color-15-blue-border:#47B4F6;
$color-16-blue-icon:#0787D4;
$color-18-purple-border:#8781BD;
$color-19-purple-icon:#5B568E;
$color-20-whole-yellow-bg:#FFC12D;
$color-21-whole-red-bg:#FEB1A4;
$color-22-whole-green-bg:#A7EC2F;
$color-23-whole-blue-bg:#85EBFA;
$color-24-whole-purple-bg:#AACDF6;



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding-top: 50px;
    padding-left: 50px;
}
.row{
    width: 1138px;
    height: 150px;
    margin-bottom: 31px;
    display: flex;
}
.row2{
    width: 1170px;
    height: 150px;
    margin-top: -2px;
}
.clear-alert{
    border: 1px solid $color-1;
    border-radius: 10px;
    width: 100%;
    display: flex;
    position: relative;
    & div{
        & h5{
            margin-top: 34px;
            color: $color-4;
            font-family: "Lato";
            font-weight: 900;
            font-size: 14px;
            line-height: 26px;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            margin-bottom: 6px;
        }

        & p{
            color: $color-4;
            font-family: 'Lato';
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            padding-right: 40px;
        }
    }
    & a{
        text-decoration: none;
        position: absolute;
        right: 17px;
        top: 12px;

        &::before{
            content: '\f00d';
            font-family: 'FontAwesome';
            font-size: 14px;
            line-height: 24px;
        }
    }
}
.yellow-alert{
    &::before{
        content: '\f12a';
        font-size: 24px;
        line-height: 26px;
        font-family: 'FontAwesome';
        padding: 12px 20px;
        background: $color-20-whole-yellow-bg;
        border: 7px solid $color-3;
        border-radius: 50%;
        margin: 43px 30px 41px 50px;
    }
}

.green-alert{
    margin-left: 31px;
    margin-right: -32px;
    
    &::before{
        content: '\f00c';
        font-size: 24px;
        line-height: 26px;
        font-family: 'FontAwesome';
        padding: 13px 12px;
        background: $color-22-whole-green-bg;
        border: 7px solid $color-9-green-border;
        border-radius: 50%;
        margin: 40px 30px 41px 50px;
        color: $color-10-green-icon;
    }
}

.red-alert{

    &::before{
        content: '\f00d';
        font-size: 24px;
        line-height: 26px;
        font-family: 'FontAwesome';
        padding: 10px 15.6px;
        background: $color-21-whole-red-bg;
        border: 7px solid #F55C43;
        border-radius: 50%;
        margin: 41px 28px 43px 50px;
        color: #D52E13;
    }
}

.blue-alert{
    margin-left: 31px;
    margin-right: -32px;
    &::before{
        content: '\f0e7';
        font-size: 24px;
        line-height: 26px;
        font-family: 'FontAwesome';
        padding: 13px 18px;
        background: $color-23-whole-blue-bg;
        border: 7px solid $color-15-blue-border;
        border-radius: 50%;
        margin: 40px 30px 41px 50px;
        color: $color-16-blue-icon;
    }
}

.purple-alert{
    &::before{
        content: '\f129';
        font-size: 24px;
        line-height: 26px;
        font-family: 'FontAwesome';
        padding: 13px 21px;
        background: $color-24-whole-purple-bg;
        border: 7px solid $color-18-purple-border;
        border-radius: 50%;
        margin: 41px 28px 41px 50px;
        color: $color-19-purple-icon;
    }
}

.yellow-bg{
    background:$color-20-whole-yellow-bg;
}
.green-bg{
    background:$color-22-whole-green-bg;
}
.red-bg{
    background:$color-21-whole-red-bg;
}
.blue-bg{
    background:$color-23-whole-blue-bg;
}
.purple-bg{
    background:$color-24-whole-purple-bg;
}
.close-yellow{
    color: $color-8-yellow-close;
}
.close-green{
    color: $color-10-green-icon;
}
.close-red{
    color: $color-13-red-icon;
}
.close-blue{
    color: $color-16-blue-icon;
}
.close-purple{
    color: $color-19-purple-icon;
}
