@import 'reset';
@import 'base';
@import 'palette';

//Components
@import 'components/notification/index';

.row {
    display: flex;
    width: 1138px;
    height: 150px;
    margin-bottom: 31px;
}

.row2 {
    width: 1170px;
    height: 150px;
    margin-top: -2px;
}
