$color-1:#E2E6E7;
$color-2:#FFC12D;
$color-3:#F9B718;
$color-4:#2C3E50;
$color-5:#A1B1BC;
$color-6:#CFD2D3;
$color-7:#A47503;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding-top: 50px;
    padding-left: 50px;
}
.row{
    width: 570px;
    height: 150px;
}
.alert{
    border: 1px solid $color-1;
    border-radius: 10px;
    width: 100%;
    display: flex;
    position: relative;
    
    &::before{
        content: '\f12a';
        font-size: 24px;
        line-height: 26px;
        font-family: 'FontAwesome';
        padding: 13px 21px;
        background: $color-2;
        border: 7px solid $color-3;
        border-radius: 50%;
        margin: 40px 28px 41px 50px;
    }

    & div{
        & h5{
            margin-top: 33px;
            color: $color-4;
            font-family: "Lato";
            font-weight: 900;
            font-size: 14px;
            line-height: 26px;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            margin-bottom: 6px;
        }

        & p{
            color: $color-5;;
            font-family: 'Lato';
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            padding-right: 40px;
        }
    }
    & a{
        text-decoration: none;
        position: absolute;
        right: 17px;
        top: 10px;

        &::before{
            content: '\f00d';
            font-family: 'FontAwesome';
            color: $color-6;
            font-size: 14px;
            line-height: 24px;
        }
    }
}
