$color-1:#E2E6E7;
$color-2:#FFC12D;
$color-3:#F9B718;
$color-4:#2C3E50;
$color-6:#CFD2D3;
$color-7:#A47503;
$color-8:#B18009;
$color-9:#7BC200;
$color-10:#558502;
$color-12:#F55C43;
$color-13:#D52E13;
$color-15:#47B4F6;
$color-16:#0787D4;
$color-18:#8781BD;
$color-19:#5B568E;
$color-20:#FFC12D;
$color-21:#FEB1A4;
$color-22:#A7EC2F;
$color-23:#85EBFA;
$color-24:#AACDF6;
