$color-1:#E2E6E7;
$color-2:#FFC12D;
$color-3:#F9B718;
$color-4:#2C3E50;
$color-6:#CFD2D3;
$color-7:#A47503;
$color-8-yellow-close:#B18009;
$color-9-green-border:#7BC200;
$color-10-green-icon:#558502;
$color-12-red-border:#F55C43;
$color-13-red-icon:#D52E13;
$color-15-blue-border:#47B4F6;
$color-16-blue-icon:#0787D4;
$color-18-purple-border:#8781BD;
$color-19-purple-icon:#5B568E;
$color-20-whole-yellow-bg:#FFC12D;
$color-21-whole-red-bg:#FEB1A4;
$color-22-whole-green-bg:#A7EC2F;
$color-23-whole-blue-bg:#85EBFA;
$color-24-whole-purple-bg:#AACDF6;
