@import '_icon';

$font-family1:'Lato';
$font-family2:'FontAwesome';

.alert {
    display: flex;
    position: relative;
    width: 100%;
    border: 1px solid $color-1;
    border-radius: 10px;

    &::before {
        font-family: $font-family2;
        font-size: 24px;
        line-height: 26px;

        @include icon('\f12a',$color-20,$color-7,7px solid $color-3,50%,43px,30px,41px,50px);
    }

    &.solid {
        background: $color-20;
    }

    div {

        h5 {
            margin-top: 34px;
            margin-bottom: 6px;
            color: $color-4;
            font-family: $font-family1;
            font-size: 14px;
            font-weight: 900;
            letter-spacing: 1.3px;
            line-height: 26px;
            text-transform: uppercase;
        }

        p {
            padding-right: 40px;
            color: $color-4;
            font-family: $font-family1;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }
    }

    a {
        position: absolute;
        top: 12px;
        right: 17px;
        color: $color-8;
        text-decoration: none;

        &::before {
            content: '\f00d';
            font-family: $font-family2;
            font-size: 14px;
            line-height: 24px;
        }
    }

    &.green {

        a {
            color: $color-10;
        }

        &.solid {
            background: $color-22;
        }

        &::before {
            @include icon( '\f00c',$color-22,$color-10,7px solid $color-9,50%,40px,28px,41px,50px);
        }
    }

    &.red {

        a {
            color: $color-13;
        }

        &.solid {
            background: $color-21;
        }

        &::before {
            @include icon( '\f00d',$color-21,$color-13,7px solid $color-13,50%,41px,28px,43px,50px);
        }
    }

    &.blue {

        a {
            color: $color-16;
        }

        &.solid {
            background: $color-23;
        }

        &::before {
            @include icon( '\f0e7',$color-23,$color-16,7px solid $color-15,50%,40px,30px,41px,50px);
        }
    }

    &.purple {

        a {
            color: $color-19;
        }

        &.solid {
            background: $color-24;
        }

        &::before {
            @include icon( '\f129',$color-24,$color-19,7px solid $color-18,50%,41px,28px,41px,50px);
        }
    }
}
